DotNet/CtripSOA2/WebHelloWorldService/RestaurantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.3.2-->
<!--Thursday, 23-07-2015 - 04:25 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="http://soa.ctrip.com/thingstodo/order/settlementopenapi/v1" xmlns:tns="http://soa.ctrip.com/framework/soa/sample/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import0="http://soa.ctrip.com/common/types/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="RestaurantService" targetNamespace="http://soa.ctrip.com/framework/soa/sample/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
      <xsd:import schemaLocation="HelloWorldData.xsd" namespace="http://soa.ctrip.com/thingstodo/order/settlementopenapi/v1" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthResponse" />
  </message>
  <message name="helloIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:HelloRequest" />
  </message>
  <message name="helloOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:HelloResponse" />
  </message>
  <message name="showNameIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <message name="showNameOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <portType name="RestaurantServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:checkHealthIn" />
      <output message="tns:checkHealthOut" />
    </operation>
    <operation name="Hello">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:helloIn" />
      <output message="tns:helloOut" />
    </operation>
    <operation name="ShowName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:showNameIn" />
      <output message="tns:showNameOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_RestaurantServiceInterface" type="tns:RestaurantServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Hello">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:helloIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ShowName">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:showNameIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RestaurantService">
    <port name="RestaurantServicePort" binding="tns:BasicHttpBinding_RestaurantServiceInterface">
      <soap:address location="http://localhost/RestaurantService" />
    </port>
  </service>
</definitions>