DotNet/CtripSOA2/ContractMetadata/RestaurantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.3.2-->
<!--Wednesday, 17-06-2015 - 05:06 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="http://soa.ctrip.com/common/types/v1" xmlns:tns="http://soa.ctrip.com/framework/soa/sample/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import0="http://soa.ctrip.com/framework/soa/sample/message/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="RestaurantService" targetNamespace="http://soa.ctrip.com/framework/soa/sample/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="RestaurantMessages.xsd" namespace="http://soa.ctrip.com/framework/soa/sample/message/v1" />
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
    </xsd:schema>
  </types>
  <message name="getRestaurantsIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:GetRestaurantsRequest" />
  </message>
  <message name="getRestaurantsOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:GetRestaurantsResponse" />
  </message>
  <message name="addRestaurantIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:AddRestaurantRequest" />
  </message>
  <message name="addRestaurantOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:AddRestaurantResponse" />
  </message>
  <message name="rateRestaurantIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:RateRestaurantRequest" />
  </message>
  <message name="rateRestaurantOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:RateRestaurantResponse" />
  </message>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CheckHealthResponse" />
  </message>
  <portType name="RestaurantServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="GetRestaurants">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getRestaurantsIn" />
      <output message="tns:getRestaurantsOut" />
    </operation>
    <operation name="AddRestaurant">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:addRestaurantIn" />
      <output message="tns:addRestaurantOut" />
    </operation>
    <operation name="RateRestaurant">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:rateRestaurantIn" />
      <output message="tns:rateRestaurantOut" />
    </operation>
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:checkHealthIn" />
      <output message="tns:checkHealthOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_RestaurantServiceInterface" type="tns:RestaurantServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetRestaurants">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:getRestaurantsIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddRestaurant">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:addRestaurantIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RateRestaurant">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:rateRestaurantIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/sample/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RestaurantService">
    <port name="RestaurantServicePort" binding="tns:BasicHttpBinding_RestaurantServiceInterface">
      <soap:address location="http://localhost/RestaurantService" />
    </port>
  </service>
</definitions>