DotNet/CtripSOA2/Common.Offline.SoaService.Client/CustomerOfflineAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.9.2-->
<!--Monday, 14-12-2015 - 05:06 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="http://tempuri.org/VacationFlightContract.xsd" xmlns:tns="http://soa.ctrip.com/platform/crm/offline/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import0="http://soa.ctrip.com/common/types/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="CustomerOfflineAppService" targetNamespace="http://soa.ctrip.com/platform/crm/offline/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
      <xsd:import schemaLocation="CustomerBossContract.xsd" namespace="http://tempuri.org/VacationFlightContract.xsd" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthResponse" />
  </message>
  <message name="customerBossCheckIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CustomerBossCheckRequest" />
  </message>
  <message name="customerBossCheckOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CustomerBossCheckResponse" />
  </message>
  <message name="integralApplyIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:IntegralApplyRequest" />
  </message>
  <message name="integralApplyOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:IntegralApplyResponse" />
  </message>
  <portType name="CustomerOfflineAppServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:checkHealthIn" />
      <output message="tns:checkHealthOut" />
    </operation>
    <operation name="CustomerBossCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:customerBossCheckIn" />
      <output message="tns:customerBossCheckOut" />
    </operation>
    <operation name="IntegralApply">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:integralApplyIn" />
      <output message="tns:integralApplyOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_CustomerOfflineAppServiceInterface" type="tns:CustomerOfflineAppServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/platform/crm/offline/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CustomerBossCheck">
      <soap:operation soapAction="http://soa.ctrip.com/platform/crm/offline/v1:customerBossCheckIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IntegralApply">
      <soap:operation soapAction="http://soa.ctrip.com/platform/crm/offline/v1:integralApplyIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CustomerOfflineAppService">
    <port name="CustomerOfflineAppServicePort" binding="tns:BasicHttpBinding_CustomerOfflineAppServiceInterface">
      <soap:address location="http://localhost/CustomerOfflineAppService" />
    </port>
  </service>
</definitions>